
<div class="auth-form">
    <h1>change password</h1>
  <form [formGroup]="loginForm" (ngSubmit)="SubmitForm(loginForm)">
      <!-- email input -->
   <div class="Group-auth-input password-input">
    <label  class="my-1">Password</label>
    <div class="password-group">
        <i class="pi pi-key password-icon"></i>
        <p-password  formControlName="password" [showClear]="true"  [toggleMask]="true" placeholder="Password" />
    </div>
        <div class="auth-errors">
        @if(loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched){
            <span class="text-danger ">Password is required</span>
            }
            @if(loginForm.get('password')?.hasError('pattern') && loginForm.get('password')?.touched){
            <span class="text-danger ">{{passwordError}}</span>
            }
    </div>
    </div>
    <!-- password input -->
    <div class="Group-auth-input password-input">
    <label  class="my-1">password_new</label>
    <div class="password-group">
        <i class="pi pi-key password-icon"></i>
        <p-password  formControlName="password_new" [showClear]="true"  [toggleMask]="true" placeholder="password_new" />
    </div>
        <div class="auth-errors">
        @if(loginForm.get('password_new')?.hasError('required') && loginForm.get('password_new')?.touched){
            <span class="text-danger ">Password is required</span>
            }
            @if(loginForm.get('password_new')?.hasError('pattern') && loginForm.get('password_new')?.touched){
            <span class="text-danger ">{{passwordError}}</span>
            }
    </div>
    </div>
    <!-- submit button -->
     <div class="auth-submit">
        <button type="submit">Change <i class="pi pi-check"></i></button>
     </div>
  </form>
</div>