
<div class="auth-form">
    <h1>{{"shange-password.contnent" | translate}}</h1>
  <form [formGroup]="ChangePasswordForm" (ngSubmit)="SubmitForm(ChangePasswordForm)">
      <!-- email input -->
   <div class="Group-auth-input password-input">
    <label  class="my-1">{{"shange-password.password" | translate}}</label>
    <div class="password-group">
        <i class="pi pi-key" [ngClass]="iconStyle" [ngClass]="iconStyle"></i>
        <p-password  formControlName="password" [showClear]="true"  [toggleMask]="true" placeholder="{{'shange-password.password'| translate}}" />
    </div>
        <div class="auth-errors">
        @if(ChangePasswordForm.get('password')?.hasError('required') && ChangePasswordForm.get('password')?.touched){
            <span class="text-danger ">Password is required</span>
            }
            @if(ChangePasswordForm.get('password')?.hasError('pattern') && ChangePasswordForm.get('password')?.touched){
            <span class="text-danger ">{{passwordError}}</span>
            }
    </div>
    </div>
    <!-- password input -->
    <div class="Group-auth-input password-input">
    <label  class="my-1">{{"shange-password.new-password" | translate}}</label>
    <div class="password-group">
        <i class="pi pi-key" [ngClass]="iconStyle"></i>
        <p-password  formControlName="password_new" [showClear]="true"  [toggleMask]="true" placeholder="{{'shange-password.new-password'| translate}}" />
    </div>
        <div class="auth-errors">
        @if(ChangePasswordForm.get('password_new')?.hasError('required') && ChangePasswordForm.get('password_new')?.touched){
            <span class="text-danger ">Password is required</span>
            }
            @if(ChangePasswordForm.get('password_new')?.hasError('pattern') && ChangePasswordForm.get('password_new')?.touched){
            <span class="text-danger ">{{passwordError}}</span>
            }
    </div>
    </div>
    <!-- submit button -->
     <div class="auth-submit">
        <button type="submit">{{'shange-password.Change' | translate}} <i class="pi pi-check"></i></button>
     </div>
  </form>
</div>