<div class="container-fluid mt-2 vh-100 ">
    <div class="groupe-section px-3">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h2>{{ 'questionBank.BankOfQuestions' | translate }}</h2>
            <button class="add-group-btn">
                <i class="pi pi-plus-circle"></i>
                {{ 'questionBank.addButton' | translate }}
            </button>
        </div>

        <div class="py-3 h-100">
            <p-table #dt [value]="questions" [rows]="10" [paginator]="true" [resizableColumns]="true"
                [columnResizeMode]="'fit'" [loading]="loading" [rowsPerPageOptions]="[10, 30, 50]"
                [currentPageReportTemplate]="'questionBank.Showing' | translate:{first:'{first}', last:'{last}', totalRecords:'{totalRecords}'}"
                [showCurrentPageReport]="true"
                [globalFilterFields]="['title','description','difficulty','answer','status','type']">


                <!-- 🔍 Global Search -->
                <ng-template pTemplate="caption">
                    <div class="d-flex justify-content-start align-items-start flex-wrap gap-2 w-100 ">
                        <p-button [outlined]="true" icon="pi pi-filter-slash" [label]="'questionBank.Clear' | translate"
                            (click)="clear(dt)"></p-button>

                        <div class="w-75">
                            <p-iconField iconPosition="left">
                                <p-inputIcon>
                                    <i class="pi pi-search"></i>
                                </p-inputIcon>
                                <input class="w-50" pInputText type="text" [(ngModel)]="searchValue"
                                    (input)="onGlobalFilter($event, dt)"
                                    [placeholder]="'questionBank.SearchQuestion'|translate" />
                            </p-iconField>
                        </div>
                    </div>
                </ng-template>

                <!-- 🧾 Table Header -->
                <ng-template pTemplate="header">
                    <tr>
                        <th pResizableColumn pSortableColumn="title">
                            {{'questionBank.Title'|translate}} <p-sortIcon field="title" />
                            <p-columnFilter field="title" matchMode="contains" display="menu" />
                        </th>
                        <th pResizableColumn pSortableColumn="description">
                            {{'questionBank.Category'|translate}} <p-sortIcon field="description" />
                            <p-columnFilter field="description" matchMode="contains" display="menu" />
                        </th>
                        <th pResizableColumn pSortableColumn="difficulty">
                            {{'questionBank.Difficulty'|translate}} <p-sortIcon field="difficulty" />
                            <p-columnFilter field="difficulty" matchMode="equals" display="menu" />
                        </th>
                        <th pResizableColumn pSortableColumn="answer">
                            {{'questionBank.Answer'|translate}} <p-sortIcon field="answer" />
                            <p-columnFilter field="answer" matchMode="equals" display="menu" />
                        </th>
                        <th pResizableColumn pSortableColumn="type">
                            {{'questionBank.Type'|translate}} <p-sortIcon field="type" />
                            <p-columnFilter field="type" matchMode="equals" display="menu" />
                        </th>
                        <th pResizableColumn pSortableColumn="status">
                            {{'questionBank.Status'|translate}} <p-sortIcon field="status" />
                            <p-columnFilter field="status" matchMode="equals" display="menu" />
                        </th>
                        <th class="text-center" pResizableColumn>
                            {{'questionBank.Actions'|translate}}
                        </th>
                    </tr>
                </ng-template>

                <!-- 📋 Table Body -->
                <ng-template pTemplate="body" let-question>
                    <tr>
                        <td>{{ question.title }}</td>
                        <td>{{ question.description }}</td>
                        <td>{{ question.difficulty }}</td>
                        <td>{{ question.answer }}</td>
                        <td>{{ question.type }}</td>
                        <td>
                            <span class="badge" [ngClass]="{
              'bg-success': question.status === 'active',
              'bg-secondary': question.status !== 'active'
            }">
                                {{ question.status }}
                            </span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center gap-4">
                                <i (click)="openDialog(question._id)" class="pi  pi-eye"></i>
                                <i class="pi  pi-pen-to-square"></i>
                                <i class="pi  pi-trash"></i>

                            </div>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6" class="text-center">{{'questionBank.NoQuestionsAvailable'|translate}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>



</div>