<section>
  <h4 class="auth-title">{{ "register.contnent" | translate }}</h4>
  <div class="switch-buttons">
    <div class="row justify-content-between gx-5">
      <div class="col-6">
        <button
          type="button"
          class="rout-btn"
          routerLink="/auth/login"
          routerLinkActive="active"
        >
          <span
            class="h-100 w-100 d-flex flex-column align-items-center justify-content-center"
          >
            <i class="mb-3 pi pi-user" style="font-size: 2.5rem"></i>
            <p class="mb-0">{{ "register.signIn" | translate }}</p>
          </span>
        </button>
      </div>
      <div class="col-6">
        <button
          type="button"
          class="rout-btn"
          routerLink="/auth/register"
          routerLinkActive="active"
        >
          <span
            class="h-100 w-100 d-flex flex-column align-items-center justify-content-center"
          >
            <i class="mb-3 pi pi-user-plus" style="font-size: 2.5rem"></i>
            <p class="mb-0">{{ "register.signUp" | translate }}</p>
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="auth-form">
    <form [formGroup]="registerForm" (ngSubmit)="SubmitForm(registerForm)">
      <div class="row justify-content-between gx-5">
        <div class="col-6">
          <!-- First name -->
          <div class="Group-auth-input">
            <label for="first_name" class="mb-1">{{
              "register.first_name" | translate
            }}</label>
            <p-iconfield>
              <p-inputicon styleClass="pi pi-user" />
              <input
                pInputText
                id="first_name"
                formControlName="first_name"
                placeholder="{{ 'register.first_name' | translate }}"
                class="auth-input"
              />
            </p-iconfield>

            <div class="auth-errors">
              @if(registerForm.get('first_name')?.hasError('required') &&
              registerForm.get('first_name')?.touched){
              <span class="text-danger">{{
                "register.firstNameErrorRequired" | translate
              }}</span>
              }
            </div>
          </div>
        </div>
        <div class="col-6">
          <!-- Last name -->
          <div class="Group-auth-input">
            <label for="last_name" class="mb-1">{{
              "register.last_name" | translate
            }}</label>
            <p-iconfield>
              <p-inputicon styleClass="pi pi-user" />
              <input
                pInputText
                id="last_name"
                formControlName="last_name"
                placeholder="{{ 'register.last_name' | translate }}"
                class="auth-input"
              />
            </p-iconfield>

            <div class="auth-errors">
              @if(registerForm.get('last_name')?.hasError('required') &&
              registerForm.get('last_name')?.touched){
              <span class="text-danger">{{
                "register.lastNameErrorRequired" | translate
              }}</span>
              }
            </div>
          </div>
        </div>
      </div>

      <!-- email input -->
      <div class="Group-auth-input">
        <label for="email" class="mb-1">{{
          "register.email" | translate
        }}</label>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-user" />
          <input
            pInputText
            id="email"
            formControlName="email"
            placeholder="{{ 'register.email' | translate }}"
            class="auth-input"
          />
        </p-iconfield>

        <div class="auth-errors">
          @if(registerForm.get('email')?.hasError('required') &&
          registerForm.get('email')?.touched){
          <span class="text-danger">{{
            "register.emailErrorRequired" | translate
          }}</span>
          } @if(registerForm.get('email')?.hasError('email') &&
          registerForm.get('email')?.touched){
          <span class="text-danger">{{
            "register.validEmailError" | translate
          }}</span>
          }
        </div>
      </div>

      <!-- role select -->
      <div class="Group-auth-input">
        <label for="role" class="my-1">{{ "register.role" | translate }}</label>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-user" />
          <p-dropdown
            formControlName="role"
            [options]="roles"
            optionLabel="name"
            placeholder="Select a role"
            class="auth-input"
            [showClear]="true"
          ></p-dropdown>
        </p-iconfield>

        <div class="auth-errors">
          @if(registerForm.get('role')?.hasError('required') &&
          registerForm.get('role')?.touched){
          <span class="text-danger">{{
            "register.roleRequired" | translate
          }}</span>
          }
        </div>
      </div>

      <!-- password input -->
      <div class="Group-auth-input password-input">
        <label class="my-1">{{ "login.password" | translate }}</label>
        <div class="password-group">
          <i class="pi pi-key" [ngClass]="iconStyle"></i>
          <p-password
            formControlName="password"
            [showClear]="true"
            [toggleMask]="true"
            placeholder="{{ 'register.password' | translate }}"
          />
        </div>
        <div class="auth-errors">
          @if(registerForm.get('password')?.hasError('required') &&
          registerForm.get('password')?.touched){
          <span class="text-danger">{{
            "register.passwordRequired" | translate
          }}</span>
          } @if(registerForm.get('password')?.hasError('pattern') &&
          registerForm.get('password')?.touched){
          <span class="text-danger">{{
            "register.passwordErrorPattern" | translate
          }}</span>
          }
        </div>
      </div>
      <!-- submit button -->
      <div class="row align-items-center">
        <div class="auth-submit">
          <button type="submit">
            {{ "register.signUp" | translate }} <i class="pi pi-check"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
