<div class="px-4">
  <div class="d-flex justify-content-between">
    <div class="text-black pt-4">
      <h2>{{ "quiz.newQuiz" | translate }}</h2>
    </div>
    <div class="d-flex">
      <div
        class="text-black border-start IconSave pt-4 px-4"
        (click)="submitForm()"
      >
        <img src="./assets/images/save-btn.png" alt="Save" />
      </div>

      <div
        (click)="ref.close()"
        class="text-black border-start IconClose pt-4 ps-4"
      >
        <img src="./assets/images/close-btn.png" alt="" />
      </div>
    </div>
  </div>

  <h4 class="text-black mt-4 mb-2">
    {{ "quiz.details" | translate }}
  </h4>
  <form [formGroup]="quizForm" (ngSubmit)="submitForm()">
    <div class="mb-3">
      <p-inputgroup>
        <p-button [label]="'quiz.title' | translate" />
        <input pInputText formControlName="title" placeholder="" />
      </p-inputgroup>
      <small
        class="text-danger"
        *ngIf="quizForm.get('title')?.invalid && quizForm.get('title')?.touched"
      >
        {{ "validation.TitleRequired" | translate }}
      </small>
    </div>

    <div class="mb-3 d-flex justify-content-between">
      <div>
        <p-select
          [options]="durationOptions"
          formControlName="duration"
          optionLabel="label"
          [showClear]="false"
          [editable]="false"
          [style]="{
            width: '250px',
            backgroundColor: 'white',
            borderRadius: '10px'
          }"
        >
          <ng-template pTemplate="selectedItem" let-selected>
            <div class="selected-item bg-white">
              <div class="label-style py-2">
                <label class="dropdown-label mx-2 me-3">
                  {{ "quiz.duration" | translate }}
                </label>
              </div>
              <div class="dropdown-value py-2 bg-white ms-3">
                {{ selected?.label }}
              </div>
            </div>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <div class="dropdown-option">{{ option.label }}</div>
          </ng-template>
        </p-select>
      </div>

      <div>
        <p-select
          [options]="numberQuestionsOptions"
          formControlName="questions_number"
          optionLabel="label"
          [showClear]="false"
          [editable]="false"
          [style]="{
            width: '250px',
            backgroundColor: 'white',
            borderRadius: '10px'
          }"
        >
          <ng-template pTemplate="selectedItem" let-selected>
            <div class="selected-item bg-white">
              <div class="label-style py-2">
                <label class="dropdown-label mx-2 me-3">
                  {{ "quiz.noOfQuestions" | translate }}
                </label>
              </div>
              <div class="dropdown-value py-2 bg-white ms-3">
                {{ selected?.label }}
              </div>
            </div>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <div class="dropdown-option">{{ option.label }}</div>
          </ng-template>
        </p-select>
      </div>

      <div>
        <p-dropdown
          [options]="scorePerQuestionsOptions"
          formControlName="score_per_question"
          optionLabel="label"
          [showClear]="false"
          [editable]="false"
          [style]="{
            width: '250px',
            backgroundColor: 'white',
            borderRadius: '10px'
          }"
        >
          <ng-template pTemplate="selectedItem" let-selected>
            <div class="selected-item bg-white">
              <div class="label-style py-2">
                <label class="dropdown-label mx-2 me-3">
                  {{ "quiz.scorePerQuestion" | translate }}
                </label>
              </div>
              <div class="dropdown-value py-2 bg-white ms-3">
                {{ selected?.label }}
              </div>
            </div>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <div class="dropdown-option">{{ option.label }}</div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <div class="mb-3">
      <p-inputgroup>
        <p-button [label]="'quiz.description' | translate" />
        <input pInputText formControlName="description" placeholder="" />
      </p-inputgroup>
    </div>

    <div class="mb-3">
      <div class="schedule-bar">
        <p-button [label]="'quiz.schedule' | translate" />

        <div class="schedule-info">
          <!-- اختيار التاريخ -->
          <img src="./assets/images/Date-Icon.png" alt="" />
          <p-calendar
            formControlName="scheduledDate"
            [showTime]="false"
            dateFormat="dd/mm/yy"
            [showIcon]="false"
            [placeholder]="'quiz.selectDate' | translate"
            [style]="{ width: '150px' }"
          ></p-calendar>

          <!-- اختيار الوقت -->
          <img src="./assets/images/Time-Icon.png" alt="" />
          <p-calendar
            formControlName="scheduledDate"
            [timeOnly]="true"
            hourFormat="24"
            [showIcon]="false"
            [placeholder]="'quiz.selectDate' | translate"
            [style]="{ width: '120px' }"
          ></p-calendar>
        </div>
      </div>

      <small
        class="text-danger"
        *ngIf="
          quizForm.get('scheduledDate')?.invalid &&
          quizForm.get('scheduledDate')?.touched
        "
      >
        {{ "quiz.dateTimeRequired" | translate }}
      </small>
    </div>

    <div class="mb-3 d-flex justify-content-between">
      <div>
        <p-dropdown
          [options]="difficultyOptions"
          formControlName="difficulty"
          optionLabel="label"
          [showClear]="false"
          [editable]="false"
          [style]="{
            width: '250px',
            backgroundColor: 'white',
            borderRadius: '10px'
          }"
        >
          <ng-template pTemplate="selectedItem" let-selected>
            <div class="selected-item bg-white">
              <div class="label-style py-2">
                <label class="dropdown-label mx-2 me-3">
                  {{ "quiz.difficultyLevel" | translate }}
                </label>
              </div>
              <div class="dropdown-value py-2 bg-white ms-3">
                {{ selected?.label }}
              </div>
            </div>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <div class="dropdown-option">{{ option.label }}</div>
          </ng-template>
        </p-dropdown>
      </div>

      <div>
        <p-dropdown
          [options]="categoryOptions"
          formControlName="type"
          optionLabel="label"
          [showClear]="false"
          [editable]="false"
          [style]="{
            width: '250px',
            backgroundColor: 'white',
            borderRadius: '10px'
          }"
        >
          <ng-template pTemplate="selectedItem" let-selected>
            <div class="selected-item bg-white">
              <div class="label-style py-2">
                <label class="dropdown-label mx-2 me-3">
                  {{ "quiz.categoryType" | translate }}
                </label>
              </div>
              <div class="dropdown-value py-2 bg-white ms-3">
                {{ selected?.label }}
              </div>
            </div>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <div class="dropdown-option">{{ option.label }}</div>
          </ng-template>
        </p-dropdown>
      </div>

      <div>
        <p-dropdown
          [options]="studentGroups"
          formControlName="group"
          optionLabel="label"
          [showClear]="false"
          [editable]="false"
          [style]="{
            width: '250px',
            backgroundColor: 'white',
            borderRadius: '10px'
          }"
        >
          <ng-template pTemplate="selectedItem" let-selected>
            <div class="selected-item bg-white">
              <div class="label-style py-2">
                <label class="dropdown-label mx-2 me-3">
                  {{ "quiz.groupName" | translate }}
                </label>
              </div>
              <div class="dropdown-value py-2 bg-white ms-3">
                {{ selected?.label }}
              </div>
            </div>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <div class="dropdown-option">{{ option.label }}</div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </form>
</div>

<div style="height: 250px"></div>
