.auth-section{
    background-color: rgba(13, 19, 33, 1);
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    .auth-logo{
        position: absolute;
        top: 0;
        left: 0;
    }
    .auth-logo img{
    width: 150px;
    }
}
