<section >
<h4 class="auth-title">{{"login.contnent" | translate}}</h4>
<div class="switch-buttons">
    <div class="row justify-content-between gx-5">
        <div class="col-6">
            <button type="button" class="rout-btn " routerLink="/auth/login" routerLinkActive="active">
                <i class="pi pi-user" style="font-size: 2.5rem"></i>
                <p>{{"login.signIn" | translate}}</p>
            </button>
        </div>
        <div class="col-6">
              <button type="button" class="rout-btn" routerLink="/auth/register" routerLinkActive="active">
                <i class="pi pi-user-plus" style="font-size: 2.5rem"></i>
                <p>{{"login.sigUp" | translate}}</p>
            </button>
        </div>
    </div>
</div>

<div class="auth-form">
  <form [formGroup]="loginForm" (ngSubmit)="SubmitForm(loginForm)">
      <!-- email input -->
    <div class="Group-auth-input">
    <label for="email" class="my-1">{{"login.email" | translate}}</label>
    <p-iconfield>
    <p-inputicon styleClass="pi pi-user" />
    <input pInputText id="email"  formControlName="email" placeholder="{{'login.email' | translate}}"  class="auth-input"/>
    </p-iconfield>

    <div class="auth-errors">
        @if(loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched){
            <span class="text-danger ">{{'login.emailErrorRequired' | translate}}</span>
            }
            @if(loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched){
            <span class="text-danger ">{{'login.validEmailError' | translate}}</span>
            }
    </div>
    </div>
    <!-- password input -->
    <div class="Group-auth-input password-input">
    <label  class="my-1">{{'login.password' | translate}}</label>
    <div class="password-group">
        <i class="pi pi-key" [ngClass]="iconStyle"></i>
        <p-password  formControlName="password" [showClear]="true"  [toggleMask]="true" placeholder="{{'login.password' | translate}}" />
    </div>
        <div class="auth-errors">
        @if(loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched){
            <span class="text-danger ">{{'login.passwordRequired' | translate}}</span>
            }
            @if(loginForm.get('password')?.hasError('pattern') && loginForm.get('password')?.touched){
            <span class="text-danger ">{{'login.passwordErrorPattern' | translate}}</span>
            }
    </div>
    </div>
    <!-- submit button -->
     <div class="row align-items-center ">
        <div class="col-6">
        <div class="auth-submit">
        <button type="submit">{{'login.signIn' | translate}} <i class="pi pi-check"></i></button>
     </div>
        </div>
        <div class="col-6" [ngClass]="lang == 'en' ? 'text-end':'text-start'">
            <a routerLink="/auth/forgot" class="forgot ">{{'login.Forgot' | translate}} <span >{{'login.clickHere' | translate}}</span></a>
        </div>
     </div>

  </form>
</div>
</section>
