.IconSave:hover {
  cursor: pointer;
  color: green;
  transition: all 1s;
  transform: translate(0, -3px);
}
.IconClose:hover {
  cursor: pointer;
  color: red;
  transition: all 1s;

  transform: translate(0, -3px);
}
