/* ======================Start Global====================== */
:root {
  --color-auth-primary: #0d1321;
  --color-auth-secondary: #ffeddf;
  --color-auth-third: #c5d86d;
}
/* ======================End Global====================== */
